/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    outline-style: none
}

ul {
    padding:0
}
/*RESET END*/

.body {
    background: #ffffff;
}

.container {
    margin: 0 auto;
    width: 905px;
    padding: 0 80px;
}

.logo-header {
    margin-top: 40px;
    float:left;
    margin-left: -80px;
}

.menu {
    float: right;
    margin: 45px -78px;
}

.list-menu li {
    display: inline-block;
    margin-left: 100px;
}

.list-menu a {
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    font-size: 15px;
    color: #111111;
    text-transform: uppercase;
}

.clearfix:after {
    content: " ";
    display: table;
    clear:both;
}

.header {
    padding-bottom: 70px;
}

.main-image {
    width: 1065px;
    padding-bottom: 100px;
    margin: 0 -80px;
}

@font-face {
     font-family: "Ubuntu Light";
     src: url(../fonts/Ubuntu-L.ttf);
}

.category-link {
    display: block;
    font-family: "Ubuntu Light";
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    padding-bottom: 30px;
    color:#b4ad9e;
}

.title-article {
    font-family:'Playfair Display', serif;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 35px;
    color: #626262;
}

.text-article {
    font-family:'Playfair Display', serif;
    font-size: 15px;
    line-height: 25px;
    padding-bottom: 50px;
    color: #626262;
}

.wrapper article {
    width: 420px;
    float: left;
    margin-top: 130px;
}

.list-image-article {
    padding-bottom: 35px;
}

.wrapper {
    padding-bottom: 125px;
}

.wrapper article:nth-child(odd) {
    padding-right: 60px;
}

.wrapper-form {
    background-color: #f0f0f0;
    padding-top: 75px;
    padding-bottom: 150px;
}

.wrapper-form h2 {
    font-family:'Playfair Display', serif;
    font-weight: bold;
    font-size: 30px;
    color: #333333;
    text-align: center;
    padding-bottom: 80px;
}

.wrapper-form input {
    border: none;
    width: 365px;
    height: 30px;
    background-color: transparent;
}

.wrapper-form input:focus{
    border: none;
    outline: none;
}

::-webkit-input-placeholder {
    font-family: 'Playfair Display', serif;
    color: #626262;
    font-size: 15px;
}

.wrapper-form button {
    background: url('../image/submit.png');
    padding: 0px;
    border: none;
    cursor: pointer;
    height: 18px;
    width: 33px;
}

.form {
    width: 405px;
    border-bottom: 1px solid #000000;
    margin: 0 auto;
}

.load-more-button {
    display: block;
    margin: 0 auto;
    font-family: 'Playfair Display', serif;
    padding: 20px 35px;
    background: transparent;
    border: 1px solid #626262;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 150px;
}

.footer {
    background-color: #f0f0f0;
    padding-top: 35px;
    padding-bottom: 45px;
}

.footer a {
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    color: #3d3d3d;
}

.footer-text li {
    display: inline-block;
    padding-right: 20px;
    float: left;
}

.footer-text {
    float: left;
}

.social-list {
    float: right;
}

.social {
    display: inline-block;
}

.social a {
    display: block;
    width: 17px;
    height: 15px;
    background-repeat: no-repeat;
    padding-right: 15px;
}

.follow {
    font-family: 'Playfair Display', serif;
}

.facebook-icon {
    background: url('../image/facebook.png') center;
}

.twitter-icon {
    background: url('../image/twitter.png') center;
}

.instagram-icon {
    background: url('../image/instagram.png') center;
 }

 .social li {
    display: inline-block;
 }